.order {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.number {
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
  font-family: Iceland;
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  line-height: 120px;
  text-align: center;
  color: #f2f2f3;
}

.id {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #f2f2f3;
  margin-top: 0;
}

.notification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.message {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f2f2f3;
}

.message_wait {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #8585ad;
}

.loading {
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
  font-family: Iceland;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 120px;
  text-align: center;
  color: #f2f2f3;
}
