.burger_ingridients {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
}

.parts_box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 40px;
  grid-auto-rows: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  color: #f2f2f3;
  text-align: left;
  align-self: flex-start;
  margin-bottom: 36px;
  margin-top: 40px;
}

.parts_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tabs {
  display: flex;
}

.parts_title {
  margin-top: 40px;
  margin-bottom: 25px;
}

.parts_title_no_margin {
  margin-top: 0;
}

.parts_shell {
  display: block;
  max-height: 600px;
  overflow-y: auto; 
  margin-top: 40px;
  padding-right: 20px;
}

.parts_shell::-webkit-scrollbar {
  width: 8px;
}

.parts_shell::-webkit-scrollbar-track {
  background: #2F2F37;
}

.parts_shell::-webkit-scrollbar-thumb {
  background: #8585AD;
}