.header {
  display: flex;
  max-width: 1920px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: #1c1c21;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}

.container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link_contructor {
  font-family: JetBrains Mono;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #f2f2f3;
}

.nav_link_contructor:hover {
  color: #8585ad;
}

.nav_link_contructor:hover svg {
  fill: #8585ad;
}

.nav_link_tape {
  composes: nav_link_contructor;
  color: #f2f2f3;
}

.nav_link_tape:hover {
  color: #8585ad;
}

.personal_account {
  composes: nav_link_tape;
}

.personal_account:hover {
  color: #8585ad;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 8px;
}

.profile_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
