.ingridients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #f2f2f3;
}

.nutrients {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nutrient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.nutrient_title {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #8585ad;
}

.nutrient_text {
  margin: 0;
  font-size: 28px;
  line-height: 24px;
  color: #8585ad;
}
